Environment = Developer

POSTGRES_DB=<Neon_DB_Link_For_Postgres>


Youtube_API_KEY=<Google_console_API_Service_activated_then_key_generated>
YOUTUBE_API_BASE_URL=https://www.googleapis.com/youtube/v3
YOUTUBE_API_TIMEOUT_SECONDS=30 
YOUTUBE_API_MAX_RETRIES=3 
YOUTUBE_API_RETRY_BACKOFF_SECONDS=2

Youtube_OAUTH_CLIENT_ID=<Client_ID_from_OAuth>
Youtbe_OAUTH_CLIENT_SECRET=<Client_Secret_from_OAuth>
YOUTUBE_OAUTH_ENABLED=true 

PUBLIC_APP_URL = https://localhost:9009
GOOGLE_REDIRECT_URI = https://localhost:9009/api/oauth2callback

Gemini_API_Key=<your-key>

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text